@font-face {
    font-family: 'Manrope';
    src:
        url('../assets/fonts/Manrope-Medium.woff2') format('woff2'),
        url('../assets/fonts/Manrope-Medium.woff') format('woff'),
        url('../assets/fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
};

@font-face {
    font-family: 'Manrope';
    src:
        url('../assets/fonts/Manrope-Bold.woff2') format('woff2'),
        url('../assets/fonts/Manrope-Bold.woff') format('woff'),
        url('../assets/fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
};

@font-face {
    font-family: 'Manrope';
    src:
        url('../assets/fonts/Manrope-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/Manrope-ExtraBold.woff') format('woff'),
        url('../assets/fonts/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}